{% extends "nariz_electronica/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Nariz Electronica</h1>
      </div>

<div class="row">

    <div class="col-sm">
    <h3>  
    <a class="nav-link active" href="{% url 'nariz_electronica:toma-datos'%}">Nariz electrónica Version 1</a>
  </h3>
  <img class="img-thumbnail" src="{% static 'nariz_electronica.jpeg' %}" alt="imagen no encontrada" height=200px widht=300px>
    <img class="img-thumbnail" src="{% static 'nariz_electronica1.jpeg' %}" alt="imagen no encontrada" height=200px widht=300px>
    {% lorem 2 %}
    </div>

    <div class="col-sm">
       <h3><a class="nav-link active" href="{% url 'nariz_electronicaV2:index'%}">Nariz electrónica Versión 2</a></h3>
      
    

    {% lorem 2 %}
    </div>



</div>
</div>
{% endblock  %}