{% extends 'bloqueadores/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
    <h2> Consulta de usuairos primarios </h2>
    </div>

 <form  action= "{% url 'bloqueadores:consulta-usuarios' %}" method="POST">
        {% csrf_token %}
        
        <div class="row">
        
          <div class="col-sm">
            <h3> Seleccione la Ciudad </h3>
            {% bootstrap_form usuarios_primarios%}
            {% buttons %}
              <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Consultar usuarios primarios
              </button>
            {% endbuttons %} 
          </div>  
         

        </div>
      </form>

    <table class="table">
    <thead>
        <tr>
        <th scope="col">Nombre Emisora</th>
        <th scope="col">Tipo de emisora</th>
        <th scope="col">Frecuencia MHz</th>
        </tr>
    </thead>
    <tbody>
    {% for usuario in usuarios %}
        <tr>
        <th scope="row">{{usuario.nombre_emisora}}</th>
        <td>{{usuario.clase_emisora}}</td>
        <td>{{usuario.frecuencia}}</td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

</div>
{% endblock  %}