{% extends 'bloqueadores/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1> Consulta de dispositivos SDR registrados </h1>
    </div>

    <div class="row">
        <div class="col">
           
           <table class="table">
            <thead>
                <tr>
                <th scope="col">Modelo</th>
                <th scope="col">Ubicación estratégica</th>
                <th scope="col">Ciudad</th>
                </tr>
            </thead>
            <tbody>
                {% for dato in  dispositivos %}
                <tr>
                <th scope="row">{{dato.modelo_id}}</th>
                <td>{{dato.ubicacion}}</td>
                <td>{{dato.ciudad}}</td>
                </tr>
                {% endfor %}
            </tbody>
            </table>

        </div>

        <div class="col">
        <img src="{% static 'bloqueadores/terminalIoT.jpg'%}" class="img-fluid" alt="Responsive image">
        </div>
    </div>

</div>
{% endblock  %}