{% extends "bloqueadores/base.html" %}
{% load staticfiles %}
{% block body_block %}
<div class="jumbotron">
  <div class="container">
    <h1>Bloqueo cooperativo usando Radio Definida por Software (SDR)</h1>
    <p> El sistema de inhibición de emisiones clandestinas de radiodifusión sonora en FM, realiza en un único lugar el monitoreo y bloqueo de emisiones clandestinas, utilizando
      tecnologı́as web, IoT y SDR.</p>
  </div>
</div>
<div class="container">

  <h2>Características del usuario</h2>
  <p class="text-justify">Esta plataforma la utilizará personal académico, autoridades nacionales del espectro,
entidades del sector financiero y desarrolladores. Además contará con usuario administrador
que se encarga de actualizar, eliminar usuarios primarios de acuerdo al plan Técnico de
radiodifusión sonora en FM, y operar la red de bloqueadores de acuerdo a la reglamentación
expedida por las autoridades nacionales.</p>

<h2>Restricciones</h2>
<ul>
  <li class="text-justify">La red de bloqueadores debe estar reglamentada en Colombia para su uso de acuerdo
con la resolución 2774 del 5 de agosto del 2013.</li>
<li class="text-justify">No utiliza amplificadores de RF, por lo tanto la potencia máxima de cada nodo está
determinada por los dispositivos SDR.</li>
<li class="text-justify">La comunicación entre el servidor y los dispositivos SDR es a través de MQTT, y entre
el cliente y el servidor HTTP.</li>
<li class="text-justify">Los dispositivos SDR cuentan con un sistema OpenEmbedded Linux.</li>
</ul>

<h2>Modelo general del sistema</h2>
<div class="row">
  <div class="col"><img class="img-responsive" src={% static "bloqueadores/modelo_sistema.jpg" %}  width="500px" alt="No encontrada"></div>
    <div class="col">  <img class="img-responsive" src={% static "bloqueadores/SDR_Rx.jpg" %} width="300px" alt="RX"> <br> <b>Arquitectura modo Rx del equipo SDR</b>
    <img class="img-responsive" src={% static "bloqueadores/SDR_Tx.jpg" %} width="300px" alt="RX"><br> <b>Arquitector en modo Tx del equipo SDR</b>
  </div>

</div>
</div>


{% endblock  %}
