{% extends 'bloqueadores/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1> Registrar Dispositivos SDR </h1>
    </div>

    <div class="row">
        <div class="col">
            <form action="{% url 'bloqueadores:registrar-dispositivos' %}" method="post"> 
            {% csrf_token %}
            {% bootstrap_form dispositivos %}

             {% buttons %}
              <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Registrar Dispositivo
              </button>
            {% endbuttons %}
            </form>
        </div>

        <div class="col">
        <img src="{% static 'bloqueadores/terminalIoT.jpg'%}" class="img-fluid" alt="Responsive image">
        </div>
    </div>

</div>
{% endblock  %}