  
html {
	min-height: 100%;
}
body {
	font-family: 'Ubuntu', sans-serif;
	margin: 0;
	color: #6e7e90;
}
.gfade{
	max-width: 70%;
	margin:auto;

}
.top-container{
  position: relative;
  min-height: 100vh;
}

.wrapper{
	padding-bottom: 2.5rem;
}

.logo {
	text-align: center;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0px;
}

#contador{
	font-weight: bolder;
}

.logo img{
	width: 20%;
}

.logo label{
	font-size: 10px;

}
.contain-gallery{
	width: 100%;
	text-align: center;
}



h1 {
	text-align: center;
}


footer {
	
	border-top: solid 0.1px #eaeaea;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; 
}

footer img {
	margin: 0 20px 0 0; 
}

.footer-logo {
	text-align: right;
}



.footer-links {
    font-size: 10px;
    margin-top: 20px;
}

.footer-links a{
	padding: 0;
}




@media (max-width: 600px) {
.logo img{
	width: 65%;
}

.zoomwall {
	font-size: 0;
	overflow: hidden;	
}

.footer-logo {
	text-align: center;
}

footer {

	border-top: solid 0.1px #eaeaea;

	position: absolute;
	bottom: 0;
	width: 100%;
	height: 2.5rem; 
}

}

