{% extends "paws/base.html" %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="alert alert-success">
        <strong>    <h2> {{registro}} </h2>    </strong> 
    </div>
    <img class="img-fluid" src="{% static 'TVSW.png' %}" alt="Imagen no encontrada">
    <table class="table">
  <thead>
    <tr>
      <th scope="col">REGISTRATION_RESP</th>
      <th scope="col">Información</th>

    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Número Serial</th>
      <td>{{info_reg.serial_Number}}</td>
    </tr>
    <tr>
      <th scope="row">Modelo</th>
      <td>{{info_reg.model_Id}}</td>

    </tr>
    <tr>
      <th scope="row">Reglas de operación</th>
      <td>{{info_reg.ruleset_Ids}}</td>
    </tr>

    <tr>
      <th scope="row">Responsable</th>
      <td>{{info_reg.contact}}</td>
    </tr>

    <tr>
      <th scope="row">Teléfono</th>
      <td>{{info_reg.telephone}}</td>
    </tr>

    <tr>
      <th scope="row">Código DANE</th>
      <td>{{info_reg.geolocation}}</td>
    </tr>
  </tbody>
</table>
    {% lorem 3 b random %}
</div>

{% endblock  %}