{% extends 'radioastronomia/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-3">
        <h2>Análisis temporal por bandas espectrales </h2>
            <br><br>
            <form id="form_modo2"  action= "" method="POST">
                {% csrf_token %}
                {% comment %} {% bootstrap_form region %} {% endcomment %}
                <h5> Seleccionar banda de frecuencia MHz </h5>
                <select name="bandas">
                {% for band in bandas %}
                <option value="{{ band}}">{{band}}</option>
                {% endfor %}                     
                </select>
                <br>
                <h5> Seleccionar Frecuencia de muestreo kHz </h5>
                <select name="frecmuestreo">
                {% for frec in frecmuestreo %}
                <option value="{{frec}}">{{frec}}</option>
                {% endfor %}
                </select>
                <br>
                <h5> Seleccion tamaño FFT </h5>
                <select name="nfft">
                {% for n in nfft %}
                <option value="{{n.nfft}}"> {{n.nfft}} </option>
                {% endfor %}
                </select>
                <h5> Seleccione region </h5>
                <select name="region">
                {% for reg in region %}
                <option value="{{reg.id}}"> {{reg.zona}} </option>
                {% endfor %}
                </select>
                <br><br>
                <h5> Seleccione rango de fechas </h5>
                <label for="start">Fecha inicial</label>
                <input type="date" id="start" name="fechaini"
                value="2019-07-19"
                min="2019-01-01" max="2019-12-31">

                <label for="end">Fecha final</label>
                <input type="date" id="end" name="fechafin"
                value="2019-11-19"
                min="2019-01-01" max="2019-12-31">

                <input type="submit" value="Realizar análisis"> 
                {% comment %} <button id="enviar" class="btn btn-warning"><a href="javascript:sendForm()"> Realizar análisis </a></button> {% endcomment %}
            </form>

            <h4 id="output"> </h4>

        <h3> La frecuencia analizada es {{frec_central}} MHz</h3>
        <h4> El ancho de banda analizado es {{frec_muestreo}}  Hz</h4>

        <p> Los servicios encontrados de acuerdo al CNABF son: </p>
        {% for serv in servicios %}
        <p>{{serv.servicio}} {{serv.banda}}<br> Frecuencia inicial {{serv.frecuencia_inicial}} <br> Frecuencia final {{serv.frecuencia_final}}
        </p> <br>
        {% endfor %}
        <br>       

        </div>

        <div class="col-5">
        {% autoescape off %}
        <div>{{ espectrograma }}</div>
        {% endautoescape %}

        {% autoescape off %}
        <div>{{ grafica }}</div>
        {% endautoescape %}

        {% autoescape off %}
        <div>{{ enetiempo }}</div>
        {% endautoescape %}

        </div>
    </div>
</div>

<script>
 //sirve para capturar variables desde django y enviarlas a javascript
 var csrftoken =  ' {{servicios}}'
</script> 
<script src="{% static 'radioastronomia/js/librerias/highcharts.js' %}"></script>
<script src="{% static 'radioastronomia/js/librerias/exporting.js' %}"></script>
<script src="{% static 'radioastronomia/js/librerias/export-data.js' %}"></script>
<script src="{% static 'radioastronomia/js/modo2.js' %}"> </script>

{% endblock body_block %}