{% extends 'radioastronomia/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-3">
        <h2>Análisis angular </h2>
        <p>Este modo se encarga analizar la energia por banda de frecuencia
        para cada angulo azimutal, es decir, analiza los angulos de elevación
        para una banda de frecuencia en particular</p>
            <br><br>
            <form id="form_modo3"  action= "" method="POST">
                {% csrf_token %}
                {% comment %} {% bootstrap_form region %} {% endcomment %}
                <h5> Seleccionar banda de frecuencia MHz </h5>
                <select name="bandas">
                {% for band in bandas %}
                <option value="{{ band }}">{{ band }}</option>
                {% endfor %}                     
                </select>
                <br><br>
                <h5> Seleccione región </h5>
                {{region}}
                <br><br>
                <h5> Seleccione RBW Hz</h5>
                <select name="RBW">
                {% for rbwa in rbw %}
                <option value="{{rbwa.rbw}}"> {{rbwa.rbw}} </option>
                {% endfor %}
                </select>
                <br><br>
                <h5>Angulo Azimut °</h5>
                <select name="azimut">
                {% for az in azimut %}
                <option value="{{az.azimut}}"> {{az.azimut}} </option>
                {% endfor %}
                </select>
                <br><br>

                <h5>Angulo Elevacion °</h5>
                <select name="elevacion">
                {% for el in elevacion %}
                <option value="{{el.elevacion}}"> {{el.elevacion}} </option>
                {% endfor %}
                </select>
                <br><br>

                <h5> Seleccione rango de tiempo </h5>
                <label for="start">Fecha inicial</label>
                <input type="date" id="start" name="fechaini"
                value="2019-07-19"
                min="2019-01-01" max="2019-12-31">

                <label for="end">Fecha final</label>
                <input type="date" id="end" name="fechafin"
                value="2019-11-19"
                min="2019-01-01" max="2019-12-31">

                <button id="enviar" class="btn btn-warning"><a href="javascript:validatedSendForm()"> Realizar análisis </a></button>
            </form>

            <h4 id="output"> </h4>
        </div>

        <div class="col-5">
        <div id="polar" style="min-width: 310px; max-width: 400px; height: 400px; margin: 0 auto"></div>

        </div>
    </div>
</div>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/highcharts-more.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>
<script src="{% static 'radioastronomia/js/modo3.js' %}"> </script>
{% endblock body_block %}