{% extends 'radioastronomia/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
    <div class="ATrow">
        <div class="ATform">
        <h2>Análisis temporal por bandas espectrales </h2>
            <br><br>
            <form id="form_modo2"  action= "" method="POST">
                {% csrf_token %}
                {% comment %} {% bootstrap_form region %} {% endcomment %}
                <label> Seleccionar banda de frecuencia MHz </label>
                <select class="form-control" name="bandas">
                {% for band in bandas %}
                <option value="{{ band}}">{{band}}</option>
                {% endfor %}                     
                </select>
                <br>
                <label> Seleccionar Frecuencia de muestreo kHz </label>
                <select class="form-control" name="frecmuestreo">
                {% for frec in frecmuestreo %}
                <option value="{{frec}}">{{frec}}</option>
                {% endfor %}
                </select>
                <br>
                <label> Seleccionar tamaño FFT </label>
                <select class="form-control" name="nfft">
                {% for n in nfft %}
                <option value="{{n.nfft}}"> {{n.nfft}} </option>
                {% endfor %}
                </select>
                <br>
                <label> Seleccionar región </label>
                <select class="form-control" name="region">
                {% for reg in region %}
                <option value="{{reg.id}}"> {{reg.zona}} </option>
                {% endfor %}
                </select>
                <br>
                <!-- <h5> Seleccione rango de fechas </h5> -->
                <label for="start">Fecha inicial</label>
                <br>
                <input class="form-control" type="datetime-local" id="start" name="fechaini"
                value="2019-07-19"
                min="2019-01-01" max="2019-12-31">
                <br>
                <label for="end">Fecha final</label>
                <input class="form-control" type="datetime-local" id="end" name="fechafin"
                value="2019-12-20"
                min="2019-01-01" max="2019-12-31">
                <br>
                <center>
                    <input class="btn btn-warning" id="analizar-datos" type="submit" value="Realizar análisis"> 
                </center>
                {% comment %} <button id="enviar" class="btn btn-warning"><a href="javascript:sendForm()"> Realizar análisis </a></button> {% endcomment %}
            </form>
            <br><br>
            <h4 id="output"> </h4>

        <h3> La frecuencia analizada es {{frec_central}} MHz</h3>
        <h4> El ancho de banda analizado es {{frec_muestreo}}  Hz</h4>
        <!-- <p> Los servicios encontrados de acuerdo al CNABF son: </p>
        {{services}}
        </p> <br> -->
        <br>


        </div>

        <div class="ATGraficas">
            {% autoescape off %}
            <div>{{ espectrograma }}</div>
            {% endautoescape %}

            {% autoescape off %}
            <div>{{ grafica }}</div>
            {% endautoescape %}

            {% autoescape off %}
            <div>{{ enetiempo }}</div>
            {% endautoescape %}
            <br><br><br>
            <h3>CNABF Gráfico</h3>
            <div id="boxset" class="boxsetC" height="{{canvaSize.Height}}">
                <canvas id="BoxesCanvas" class="BcanvasC" width="{{canvaSize.Width}}" 
                height="306px"></canvas>
            </div>
            <br><br><br>
            
        </div>



    </div>

</div>

<script>
 //sirve para capturar variables desde django y enviarlas a javascript
 var csrftoken =  '{% csrf_token %}';
 var servicios = '{{services}}';
 var cnvsH     = 306;//'{{canvaSize.Height}}'
 var cnvsW     =  '{{canvaSize.Width}}'

</script> 
<script src="{% static 'radioastronomia/js/librerias/highcharts.js' %}"></script>
<script src="{% static 'radioastronomia/js/librerias/exporting.js' %}"></script>
<script src="{% static 'radioastronomia/js/librerias/export-data.js' %}"></script>
<script src="{% static 'radioastronomia/js/modo2.js' %}"> </script>
<script src="{% static 'radioastronomia/js/boxes.js' %}"> </script>

<script type="text/javascript" src="{% static 'radioastronomia/js/librerias/mpld3.v0.3.1.dev1.js'%}"></script>
<script type="text/javascript" src="{% static 'radioastronomia/js/librerias/d3.v3.min.js' %}"></script>
{% endblock body_block %}