{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}


{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-8">
            <h3> Subistema estación de monitoreo ambiental </h3>
            <p> El subsistema de estación monitoreo ambiental se encarga de ir recolectando variables ambientales como temperatura, humedad relativa, presión atmosférica, luz ultravioleta,  precipitaciones, radiación solar, y velocidad y dirección del viento, estas variables se recolectarán cada vez que se haga una medida del espectro radioeléctrico por el subsistema RFI con el fin de establecer correlaciones que permitan estudiar fenómenos ambientales con medidas de RF y así establecer eventos que puedan afectar las medidas del espectro.:</p>
            <img src="{% static 'radioastronomia/img/estacion.jpg' %}" class="img-fluid" alt="Responsive image">
          
           <div id="eambiental">
                <h4>Estado de la estación metereológica</h4>
                <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
                </div>Activo 
            </div>

            <div id="fambiental">
                 <button id="bot_estacion" type="submit" class="btn btn-danger">
                 {% bootstrap_icon "star" %} Detener
                </button>
            </div>

            <div id="inaestacion">
           <h4>Estado de la estación metereológica</h4>
            <p>INACTIVO</p>
            </div>

            <div id="ecamara"></div>
            <div id="fcamara">
            <p id="bot_camara"> </p>
            </div>
            <div id="inacamara"></div>
        </div>

        <div class="col-2">
        <h5> Características de los sensores de la estación metereológica </h5>
            <table class="table">
            <thead>
                <tr>
                <th scope="col">Sensor</th>
                <th scope="col">Variable</th>
                <th scope="col">Rango</th>
                <th scope="col">Resolución</th>
                <th scope="col">Borrar </th>
                </tr>
            </thead>
            <tbody>
            {% for estacion in caractestacion %}
                <tr>
                <th scope="row"><a href="{% url 'radioastronomia:actualizar-sensor' estacion.id %}"> {{estacion.sensor}}</a></th>
                <td>{{estacion.variable}}</td>
                <td>{{estacion.rango}}</td>
                <td>{{estacion.resolucion}}</td>
                <td><a href="{% url 'radioastronomia:borrar-sensor' estacion.id %}">Sí</a></td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
            <button type="button" class="btn btn-light"><a href="{% url 'radioastronomia:crear-sensor' %}">Registrar Sensor </a></button>
        
        </div>
    </div>
</div>
<script src="{% static 'radioastronomia/js/loadsystems.js' %}"></script>

{% endblock body_block %}
