{% extends 'radioastronomia/base.html' %}
{% load static %}

{% block body_block %}

<div class="container">

    <div class="row">
        <div class="col">
        <form action="" method="POST">
            {% csrf_token %}
            <h2> ¿Desea borrar el sensor {{caracterstacion.sensor}} ?</h2>
            <button type="submit" class="btn btn-danger">Sí</button>
            
            <a href="{% url 'radioastronomia:subsistema-estacion' %}"> Cancelar </a>
        </div>

        <div class="col">
        {% lorem 1 b random %}
        </div>
    </div>
</div>
{% endblock body_block %}
