{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        <h3> Registrar antenas de medición </h3>
        <form  action= "{% url 'radioastronomia:crear-antena' %}" method="POST" enctype="multipart/form-data"> 
            {% csrf_token %}
            {% bootstrap_form form %}                          
            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Registrar antena
            </button>
            {% endbuttons %}
        </form>
        </div>

        <div class="col-sm">
        <p>Este formulario se encarga de registrar las antenas que se utilizarán
        en las mediciones del espectro, esta información es útil debido a que en la 
        toma de datos las mediciones se pueden calibrar directamente en el equipo SDR antes 
        de llegar a la base de datos.</p>
        <button type="button" class="btn btn-light"><a href="{% url 'radioastronomia:antenas' %}">Lista de antenas </a></button>

        </div>
    </div>
</div>
{% endblock body_block %}