{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}


{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col">

            <h3> Comparación de las zonas de medición </h3>
            {% autoescape off %}
            {{ espectros }}
            {% endautoescape %}
            
            <h3>Análisis de carácteristicas para diferencias zonas </h3>
            {% autoescape off %}
            {{ caracteristicas }}
            {% endautoescape %}
        </div>
        <div class="col">
        <p> Este análisis compara las zonas donde se toman los datos, para ello
        es necesario utilizar un RBW para que todos los datos comparados tengan las mismas
        características de adquisición.</p>
        <br>
        <p>Del espectro se extraen las siguientes características y se comparan entre sí:</p>
        <ul>
        <li> Energía </li>
        <li> Desviación estándar </li>
        <li> Promedio </li>
        <li> Valor máximo </li>
        <li> Valor mínimo </li>
        <li> Mediana </li>
        </ul>
            <form action="" method="post">
                {% csrf_token %}
                <label> <h4>RBW Hz</h4> </label><br>
                <select name="RBW">
                    {% for r in rbws %}
                    <option value="{{r.rbw}}"> {{r.rbw}} </option>
                    {% endfor %}
                </select>
                <br>
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Realizar análisis
                    </button>
                    {% endbuttons %}
            </form>
        </div>
    </div>
</div>


{% endblock body_block %}