{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block body_block %}

<div class="container">
    <h2> Registro de los estados de la cámara y de la estación </h2>
    <p>Este registro ayuda al usuario a ingresar por primera vez un valor en la 
    base de datos para los estados de los subsitemas, este paso sólo se realiza la primera vez.</p>
    <div class="row">
        <div class="col"> 
        <img src="{% static 'radioastronomia/img/camara.jpg' %} " class="rounded-circle" alt="Cinque Terre" width="250px" hight="250px">
        <p>Cámara StarLight Oculus all sky </p>
        </div>
        <div class="col">
        <img src="{% static 'radioastronomia/img/estacion.jpg'%}" class="rounded" alt="Cinque Terre" width="250px" hight="250px">
        <p>Estación de monitoreo DAVIS </p>
        <br><br>
        </div>
        <div class="col">
         <img src="{% static 'radioastronomia/img/LimeSDR.jpg'%}" class="rounded" alt="Cinque Terre" width="450px" hight="450px">
         <p>Subsistema RFI </p>
         <br><br>       
        </div>
    </div>
        <form action="{% url 'radioastronomia:conf-estados' %}" method="POST">
        {% csrf_token %}

        <input type="hidden" name="camara" value="ecamara">
        <input type="hidden" name="estacion" value="eestacion">

        {% buttons %}
        <button type="submit" class="btn btn-primary">
        {% bootstrap_icon "star" %} Registrar estados
        </button>
        {% endbuttons %}
        </form>
</div>
{% endblock body_block %}