{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}


<div class="container" >
    <div class='row'>

        <div class='col'>
        <h2> Modo automático </h2>
        <p>En este modo se seleccionan los rangos donde se desean tomar los datos, es decir,
        la frecuencia inicial, la frecuencia final, el RBW, las posiciones: Azimut y elevación,
        entre otros parámetros</p>

        </div>

        <div class="col">
        

        <div  id="aplotinfo">
            <h2 > Actualmente el sistema está tomando datos </h2>
            <h3>Frecuencia: <p id="efreq"></p></h3>
            <h3>Azimut: <p id="eazimut"></p></h3>
            <h3>Elevacion: <p id="eelevacion"></p></h3>
            
            <center><div class="lds-ring">
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div></center>
            {% comment %}<img src="{% static 'radioastronomia/img/estado.gif' %}" alt="estado" width="300px" heigth="300px">{% endcomment %}
        </div>
        <div id="aform">
            <form  action= "{% url 'radioastronomia:control-automatico' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form form%}
                    
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Adquirir datos
                </button>
                {% endbuttons %}
            </form>
        </div>
      </div>
    </div>
</div>


{% endblock  %}