{% extends 'radioastronomia/base.html' %}
{% load static %}
{% block body_block %}

<div class="row">
    <div "class=col">
    <br>
    <h3> Imágenes del cielo </h3>
    <video width="450" controls>
    <source src="{{ imagenes.url }}" type="video/mp4" > </source>
    Su navegador no soporta este video
    </video>
    </div>

    <div class="col">
        <h3> Espectro </h3>
    <div id="grafica_espectro" style="height: 400px; max-width: 1000px; margin: 0 auto"></div>    </div>
</div>

<div class="row">
    <div class="col">
        <h3> Estación de monitoreo </h3>
        {% lorem 3 b random %}
    </div>

     <div class="col">
        <h3> Control posición </h3>
        <img src="{% static 'radioastronomia/img/control_posicion.jpg'%}" alt="no encontrado" class="img-thumbnail" height="300px" width="500px">
    </div>

</div>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/boost.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static 'radioastronomia/js/grafica.js' %}"></script>

{% endblock  %}

