{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}
{% block body_block %}

<div class="row">
    <div "class=col">
    <br>
    <h3> Imágenes del cielo </h3>
    <video width="450" controls>
    <source src="{{ imagenes.url }}" type="video/mp4" > </source>
    Su navegador no soporta este video
    </video>
    </div>

    <div class="col">
    <div id="grafica_espectro" style="height: 400px; max-width: 1000px; margin: 0 auto"></div>    </div>
</div>

<div class="row">
    <div class="col">
        <h3> Estación de monitoreo </h3>
        {% lorem 2 b random %}
    </div>

     <div class="col">
        <h3> Control sistema RFI </h3>

        <div class="tab">
            <button class="tablinks" onclick="openMode(event, 'Manual')">Manual</button>
            <button class="tablinks" onclick="openMode(event, 'Auto')">Auto</button>
        </div>

        <div id="Manual" class="tabcontent">
                <p>Modo Manual seleccionado</p>
            <div  id="aplotinfo_M">
                <h4 > Actualmente el sistema está tomando datos </h4>

                <center><div class="lds-ring">
                <div class="lds-spinner">
                    <div></div><div></div><div></div><div></div><div></div>
                    <div></div><div></div><div></div><div></div><div></div>
                    <div></div><div></div></div>
                </center>
    
                <form id="stop" action= "{% url 'radioastronomia:detener' %}" method="POST">
                 {% csrf_token %}
                 <input type="hidden" name="stop" value="detener">
                 <button type="submit" class="btn btn-danger">
                 {% bootstrap_icon "star" %} Detener
                </button>                </form>
            </div>

            <div id="mform">
                <form  class="NMform" id="Mf" action= "{% url 'radioastronomia:control-manual' %}" method="POST">
                    {% comment %}{% csrf_token %}{% endcomment %}
                <div>
                    <label>Frecuencia (MHZ)</label><br>
                    <input type="number" name="frequency" min="0" value="50"><br><br>
                    <label>nFFT: </label><br>
                    <select name="nFFT" id="nFFT_LIST_M" onchange="rbwlistM()" required>
                            <option value="" selected disabled hidden>nFFT</option>
                            <option value="1024">1024</option>
                            <option value="2048">2048</option>
                    </select><br><br>
                    <label>RBW [Hz]: </label><br>
                    <select name="RBW" id="RBW_LIST_M"></select><br><br>
                    <label>Ubicación: </label><br>
                    {{form}}
                </div>
                <div>
                    <label>Azimut (Degree)</label><br>
                    <input type="number" name="azimut" min="0" max="360" value="120"><br><br>
                    <label>Elevación (Degree)</label><br>
                    <input type="number" name="elevacion" min="0" max="180" value="70"><br><br>
                    <label> Antena </label>
                    <select name="antena">
                    {% for ant in antenna %}
                        <option value="{{ant.id}}">{{ant.referencia}}</option>
                    {% endfor %}
                    </select>
                    <br><br>
                    <input type="submit" id="AMsubmit" value="Adquirir datos">
                </div>


                </form>
            </div>
        </div>

        <div id="Auto" class="tabcontent">
            <p>Modo Autmático seleccionado</p>
            <div  id="aplotinfo">
                    <h4 > Actualmente el sistema está tomando datos </h4>
                    <h4>Frecuencia: <p id="efreq"></p></h4>
                    <h4>Azimut: <p id="eazimut"></p></h4>
                    <h4>Elevacion: <p id="eelevacion"></p></h4>
                    
                    <center><div class="lds-ring">
                    <div class="lds-spinner">
                        <div></div><div></div><div></div><div></div><div></div>
                        <div></div><div></div><div></div><div></div><div></div>
                        <div></div><div></div></div>
                    </center>
                <form id="stop" action= "{% url 'radioastronomia:detener' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="stop" value="detener">
                 <button type="submit" class="btn btn-danger">
                 {% bootstrap_icon "star" %} Detener
                </button>
                </form>
            </div>
            <div id="aform">
                    <form class="NAform" id="Af" action= "{% url 'radioastronomia:control-automatico' %}" method="POST">
                        {% comment %}{% csrf_token %}{% endcomment %}

                        <div>
                            <label>Frecuencia Inicial (MHz): </label><br>
                            <input type="number" name="finicial" min="0" value="50" required><br><br>
                            <label>Frecuencia Final (MHz): </label><br>
                            <input type="number" name="ffinal" min="0" value="250" required><br><br>
                            <label>nFFT: </label><br>
                            <select name="nFFT" id="nFFT_LIST" onchange="rbwlist()" required>
                                <option value="" selected disabled hidden>nFFT</option>
                                <option value="1024">1024</option>
                                <option value="2048">2048</option>
                            </select><br><br>

                            <label>RBW [Hz]: </label><br>
                            <select name="RBW" id="RBW_LIST">
                                    <!-- <option value="" selected disabled hidden>RBW</option> -->
                            </select><br><br>

                            {% comment %} ubicacion {% endcomment %}
                            {{form}}
                            <br><br>
                            <label> Antena </label>
                            <select name="antena">
                            {% for ant in antenna %}
                                <option value="{{ant.id}}">{{ant.referencia}}</option>
                            {% endfor %}
                            </select>
                            <br><br>
                            

                        </div>
                        <div>
                            <label>Azimuth Inicial (Degrees): </label><br>
                            <input type="number" name="azinicial" value="0" min="0" max="360" required><br><br>
                            <label>Azimuth Final (Degrees): </label><br>
                            <input type="number" name="azfinal" value="360" min="0" max="360" required><br><br>

                            <label>Resolución azimut: </label><br>
                            <select name="RBazimut" >
                                <option value="10">10°</option>
                                <option value="30">30°</option>
                                <option value="45">45°</option>
                                <option value="60">60°</option>
                                <option value="90">90°</option>

                            </select><br><br>

                            <label>Elevación Inicial (Degrees): </label><br>
                            <input type="number" name="eleninicial" value="0" min="0" max="180" required><br><br>
                            <label>Elevación Final (Degrees): </label><br>
                            <input type="number" name="elefinal" value="180" min="0" max="180" required><br><br>

                            <label>Resolución elevación: </label><br>
                            <select name="RBelevacion" >
                                <option value="10">10°</option>
                                <option value="30">30°</option>
                                <option value="45">45°</option>
                                <option value="60">60°</option>
                                <option value="90">90°</option>
                            </select><br><br>

                            <input type="submit" id="Afsubmit" value="Adquirir datos">
                        </div>
                    </form>
                </div>
        </div>
        

    </div>

</div>

<script src="{% static 'radioastronomia/js/librerias/highcharts.js' %}"></script>
<script src="{% static 'radioastronomia/js/librerias/exporting.js' %}"></script>
<script src="{% static 'radioastronomia/js/librerias/export-data.js' %}"></script>

<script src="{% static 'radioastronomia/js/grafica.js' %}"></script>
<script src="{% static 'radioastronomia/js/loadining.js'%}"></script>
<script src="{% static 'radioastronomia/js/rfimode.js'%}"></script>

{% endblock  %}

