{% extends 'radioastronomia/base.html' %}
{% load static %}

{% block body_block %}

<h1> Proyecto de radioastronomía entre la UIS y la ANE </h1>
<p> Las emisiones de radio naturales de objetos tan diversos como rayos y huracanes en
nuestro planeta y galaxias distantes a millones de años luz producen información vital sobre
el planeta Tierra y su lugar en el universo. Las observaciones de la Tierra son
fundamentales, entre otros, para el pronóstico del clima y los estudios climáticos. Por su
parte, la Radioastronomía permite realizar observaciones de las emisiones de radio del cosmos, las cuales son igualmente importantes para aumentar nuestra comprensión del
universo y así tratar de responder a grandes y diversas preguntas fundamentales como la
del origen de los planetas o de las causas del cambio climático en la Tierra.
Toda esta información científica es recopilada bien sea por geocientíficos que utilizan
satélites complejos en órbita terrestre y equipos para mediciones en tierra o por los
radioastrónomos, quienes utilizan radiotelescopios de gran tamaño en tierra. </p> <br>
<p> Este proyecto busca estudiar y caracterizar el cielo realizando mediciones de espectro en angulos azimiut y elevación teniendo en cuenta condiciones metereológicas,
eventos luminosos y procesamiento de imágenes en tres zonas geográficas de Colombia como lo son: </p>

<h1> {{ frecuencia }} </h1>

<div class="row">
<div class="col-sm">
    <label>
    <h5>  Desierto de la Tatacoa (Huila) </h5>
    <img src="{% static 'radioastronomia/img/desierto-del-huila.jpg' %}" alt="nevado cocuy" class="img-thumbnail" width="400px" height="300px">
    </label>
</div>
<div class="col-sm">
    <label>
    <h5>  Nevado del Cocuy (Boyacá) </h5>
    <img src="{% static 'radioastronomia/img/nevado-cocuy.jpg' %}" alt="nevado cocuy" class="img-thumbnail" width="400px" height="300px">
    </label>
</div>
<div class="col-sm">
    <label>
    <h5>  Páramo de Berlín (Santander-Norte de Santander) </h5>
    <img src="{% static 'radioastronomia/img/paramo-berlin.jpg' %}" alt="nevado cocuy" class="img-thumbnail" width="400px" height="300px">
    </label>
</div>
</div>
{% endblock  %}