{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-sm">
        <h3> Registrar region </h3>
        <form  action= "{% url 'radioastronomia:crear-region' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% bootstrap_form form %}                          
            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Registrar region
            </button>
            {% endbuttons %}
        </form>
        </div>

        <div class="col-sm">
        <button type="button" class="btn btn-light"><a href="{% url 'radioastronomia:index' %}">Lista de regiones registradas </a></button>

        </div>
    </div>
</div>
{% endblock body_block %}