{% extends 'radioastronomia/base.html' %}
{% load static %}

{% block body_block %}
<div class="container"> 
    <br>
    <div class="row">
        <div class="col">
            <h3>Video tomado el {{imagen.fecha}} </h3>
            <h4> Ubicación: {{imagen.region}} </h4>
            <video width="600" controls>
                <source src="{{ imagen.imagen.url }}" type="video/mp4" > </source>
                Su navegador no soporta este video
            </video>
        </div>

        <div class="col">
        <h1>Condiciones ambientales en la adquisición del video </h1>
        <ul class="list-group">
            <li class="list-group-item"><h5> Temperatura {{temperatura|floatformat:2}} °C </h5></li>
            <li class="list-group-item"><h5> Humedad {{humedad|floatformat:2}} % </h5></li>
            <li class="list-group-item"><h5> Presión {{presion|floatformat:2}} mbar </h5></li>
            <li class="list-group-item"><h5> Radiación solar {{radiacion|floatformat:2}} W/m² </h5></li>
            <li class="list-group-item"><h5> Velocidad Viento {{vel_viento|floatformat:2}} m/s </h5></li>
            <li class="list-group-item"><h5> Precipitación {{precipitacion|floatformat:2}} L/sem </h5></li>
        </ul>
        
        <button type="button" class="btn btn-light"><a href="{% url 'radioastronomia:subsistema-camara' %}">Regresar</a></button>
        </div>
    </div>

</div>
{% endblock body_block %}