{% extends 'radioastronomia/base.html' %}
{% load static %}

{% block body_block %}
<div class="container">
<h1> Subsistema RFI </h1>

<p>El subsistema de RFI, que se muestra en la figura, se encarga de recibir la señales radioeléctricas, adaptarlas y convertirlas a señales eléctricas y digitales para que puedan ser tratadas con técnicas digitales de procesamiento de señales durante las campañas de medición, el subsistema RFI está compuesto por:</p>
<center><img src="{% static 'radioastronomia/img/rfi.jpg' %}" class="img-fluid" alt="Responsive image" height="500px" width="600px"></center>

<ul>
<li><a href={% url 'radioastronomia:antenas' %}> Antenas:</a></li>
<ul>
<li>HK116E Bicónica, trabaja en el rango de frecuencias 20~300 MHz</li>
<li>Bicolog 5070, es una antena bicónica que trabaja en el rango de frecuencias 50~700 MHz</li>
<p>
Con base en la experiencia del laboratorio ALMA (Atacama Large Millimeter Array ubicado en Llano de Chajnantor, Desierto de Atacama, Chile) y del proyecto MARI-UCSC (Medidor Autónomo de Radio Interferencia de la Universidad Católica de la Santísima Concepción en Chile) estas antenas tienen un buen rendimiento para ser usadas en este tipo de mediciones científicas. 
</p>
</ul>
<li>Amplificador de bajo ruido (LNA por sus siglas en inglés) para amplificar las señales del cosmos, esto es necesario debido a que las señales del espacio son muy atenuadas debido a que provienen de miles y millones de kilómetros de distancia y por efectos de propagación llegan muy atenuadas a la estación terrena:
</li>
<li>RF Bay- ENA-100 T cuya frecuencia de trabajo es 10-600 MHz, tiene una ganancia de 40 dB, y una figura de ruido de 0.9.</li>
<li>Equipo de radio definida por software (SDR por sus siglas en inglés) con sistema embebido para que pueda comunicarse con el subsistema de control principal y almacenamiento de datos, el equipo seleccionado tiene las siguientes características:
<li>LimeNET Mini, entre sus características generales está su rango de operación de 100 kHz ~ 3.8 GHz, ancho de banda instantáneo 61.44 MHz, sistema embebido con una CPU Intel Core i7-7500U,  RAM 32 GB y periféricos de red LAN.</li>
<li>Comunicación vía Ethernet usando cable CAT6a</li>
<li>Conectores RF: N Female y SMA macho para conectar las antenas al LNA, y SMA macho para conectar del LNA al equipo SDR, los conectores deben tener una impedancia de 50 Ohms.</li>
<li>Cable RF LMR-1200-DB de 50 Ohms para conectar las antenas al LMA y del LMA al equipo SDR.</li>
<li>Conectores RJ45 de plug metalico para conectar el cable CAT6a.</li>
<li>Jaula de Faraday, para evitar que los equipos de medición interfieran con las señales RF. </li>
<li>Conexión eléctrica junto con núcleos de ferrita para reducir la circulación de corrientes parásitas que puedan generar una onda electromagnética.</li>
</ul>
</div>

{% endblock body_block %}

