{% extends 'radioastronomia/base.html' %}
{% load static %}
{% load bootstrap3 %}

{% block body_block %}

<div class="container">
<h1> Subsistema de imágenes del cielo </h1>

    <div class="row"> 
        <div class="col">
        <p> Este subsistema se compone de una cámara Oculus all sky y una tarjeta Nvidia Jetson Nano,
        para procesar en tiempo real las variaciones en el cielo utilizando técnicas de visión 
        por computador.
        </p>
       <div id="ecamara">
                <h4>Estado de la Cámara Oculus</h4>
                <div class="spinner-grow" role="status">
                <span class="sr-only">Loading...</span>
                </div>Activo 
            </div>

            <div id="fcamara">
                 <button id="bot_camara" type="submit" class="btn btn-danger">
                 {% bootstrap_icon "star" %} Detener
                </button>
            </div>

            <div id="inacamara">
           <h4>Estado de la Cámara oculus</h4>
            <p>INACTIVO</p>
            </div>

            <div id="eambiental"></div>
            <div id="fambiental">
            <p id="bot_estacion"> </p>
            </div>
            <div id="inaestacion"></div>

        <p> Los videos seleccionados para el rango de fecha escogido son: </p>
        {% for vid in videos %}
        <ul style="list-style-type:circle;">
        <li> <a href=" {% url 'radioastronomia:repro-videos' vid.id %}">Video {{vid.fecha}}</a> </li>        
        </ul>         
        {% endfor %}

        </div>
        <div class="col"> 
        <h4> Último Video tomado </h4>
        <h4> Fecha {{fecha}} </h4>  
        <h4> Lugar {{zona}} </h4>  

        <video width="450" controls>
            <source src="{{ imagen.url }}" type="video/mp4" > </source>
            Su navegador no soporta este video
        </video>

        <form id="form_camara" action= "{% url 'radioastronomia:subsistema-camara' %}" method="POST">
            {% csrf_token %}
            <label for="dia">Dia <img src={% static 'radioastronomia/img/dia.gif' %} class="img-fluid" alt="Responsive image" width="100 px" hight="100 px"></label>
            <input id="dia" type="radio" name="day" value="dia">  
            
             <label for="noche">Noche <img src={% static 'radioastronomia/img/noche.png' %} class="img-fluid" alt="Responsive image" width="100 px" hight="100 px"></label>
            <input id="noche" type="radio" name="day" value="noche">  
            <h5> Seleccione rango de fechas </h5>
                <label for="start">Fecha inicial</label>
                <input type="date" id="start" name="fechaini"
                value="2019-07-19"
                min="2019-01-01" max="2019-12-31">
                
                <br>
                <label for="end">Fecha final</label>
                <input type="date" id="end" name="fechafin"
                value="2019-11-19"
                min="2019-01-01" max="2019-12-31">
            <br>
            {{region}}

            {% buttons %}
            <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Seleccionar videos
            </button>
            {% endbuttons %}
        </form>
        </div>

    </div>
</div>
<script src="{% static 'radioastronomia/js/loadsystems.js' %}"></script>
{% endblock body_block %}