<!DOCTYPE html>
{% load static %}
<html>
<head>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript" src= {% static 'particulado/assets/js/jquery.js' %}></script> <!-- para llamar un estatico -->
  <link rel="shortcut icon" href="icono.png" type="png"/>

  <head runat="server">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        
      <script type="text/javascript">
      var variableglobal;
      var muestrafinal = [];
      var data2final = [];
      var data3final = [];
      
      //setInterval(function(){

        
         
      google.charts.load('current', {'packages':['line']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {
                        $.ajax({
                      type: "GET",
                      url: "/particulado/jsonB",
                      async: false,
                      //data: {},
                      dataType: 'json',
                      success: function (data){
                      variableglobal= data;
                      } //fin success
          
                       }); // fin ajax

                  


                    var data = new google.visualization.DataTable();
                    data.addColumn('number', 'Muestra.');
                    data.addColumn('number',  'TEMPERATURA [°C]');
                    data.addColumn('number', 'HUMEDAD [%]');

                    data.addRows([
                      [0,  0, 0]
                      
                    ]);

                    var options = {
                      chart: {
                        title: 'Humedad y Temperatura relativa.',
                        subtitle: 'BME-280'
                      },
                      width: 900,
                      height: 400,
                      axes: {
                        x: {
                          0: {side: 'down'}
                        }
                      }
                    };
                    var chart = new google.charts.Line(document.getElementById('line_top_x'));

                    long = variableglobal.pmsB.length;
                    
                    //console.log(variableglobal.pmsA[0][1])
                    //console.log(variableglobal.pmsA[1][2])
                    //console.log(variableglobal.pmsA[0][4]);



                    if (long > 0) {
                    var n = 0
                    while (n < long) {
                      n ++;
                      //var i = 1;
                      var v1 = variableglobal.pmsB[n-1][6];
                      //var v1 = n;
                      var v2 = variableglobal.pmsB[n-1][4];
                      var v3 =  variableglobal.pmsB[n-1][5];
                      //console.log(v1)
                       data.addRows([
                             [v1,v2-1+1,v3-1+1],
                           ]);
                     
                        
                      }
                    }
                    chart.draw(data,options); 
                   
                   


                    



                  }

             



setInterval(function(){drawChart()}, 9900);
               

 


      

      

       

      
      </script> 
  
 

</head>


<body>

  <div id="line_top_x"></div>
  <div id="resultado"></div>
</body>
</html>
