{% extends "app_praes/base.html" %}
{% load static %}
{% block body_block %}

<div class="container">
<h1> Información de Variables ambientales</h1> 

<div class="row">
    <div class=col>
        <div class="list-group">
            
            <a href="#" onclick="toggle_visibility('temperatura');" class="list-group-item list-group-item-action">Temperatura</a>
            <a href="#" onclick="toggle_visibility('humedad');" class="list-group-item list-group-item-action">Humedad Relativa</a>
            <a href="#" onclick="toggle_visibility('presion');" class="list-group-item list-group-item-action">Presión atmosférica</a>
            <a href="#" onclick="toggle_visibility('uv');" class="list-group-item list-group-item-action">Luz Ultravioleta</a>
            <p></p>
            <h4>Calidad del Aire</h4>
            <a href="#" onclick="toggle_visibility('co');" class="list-group-item list-group-item-action">Monóxido de Carbono CO</a>
            <a href="#" onclick="toggle_visibility('co2');" class="list-group-item list-group-item-action">Dióxido de Carbono CO2</a>
            <a href="#" onclick="toggle_visibility('ch4');" class="list-group-item list-group-item-action">Metano CH4</a>
            <a href="#" onclick="toggle_visibility('polvo');" class="list-group-item list-group-item-action">Polvo</a>
            <a href="#" onclick="toggle_visibility('so2');" class="list-group-item list-group-item-action">Dióxido de azufre SO2</a>
            <a href="#" onclick="toggle_visibility('no2');" class="list-group-item list-group-item-action">Dióxido de Nitrógeno NO2</a>
            <a href="#" onclick="toggle_visibility('o3');" class="list-group-item list-group-item-action">Ozono O3</a>
            <a href="#" onclick="toggle_visibility('tvoc');" class="list-group-item list-group-item-action">Material orgánico volátil</a>
            <a href="#" onclick="toggle_visibility('lpg');" class="list-group-item list-group-item-action">Gas Licuado del petróleo</a>

        </div>
    </div>

    <div class="col-sm-9">
        <div id="temperatura">
            <h2>Temperatura</h2> 
            {% lorem 1 b random %}
            <p></p>

        <button type="button" class="btn btn-outline-success" id="graficar_temp">Ver gráfica</button>

        <div id="grafica_temperatura" style="min-width: 300px; height: 320px; margin: 0 auto"></div>

        </div>
        <div id="humedad">
            <h2>Humedad</h2>
            {% lorem 1 b random %}
                    <button type="button" class="btn btn-outline-success" id="graficar_hum">Ver gráfica</button>
            <p></p>

        <div id="grafica_humedad" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="presion">
            <h2>Presión atmosférica</h2>
            {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_pres">Ver gráfica</button>
            <p></p>
            <div id="grafica_presion" style="min-width: 300px; height: 320px; margin: 0 auto"></div> 
        </div>

        <div id="uv">
        <h2>Luz UV</h2>
            {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_luzuv">Ver gráfica</button>
            <p></p>
            <div id="grafica_luzuv" style="min-width: 300px; height: 320px; margin: 0 auto"></div>         </div>
        <div id="co">
        <h2>Monóxido de carbono</h2>
            {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_co">Ver gráfica</button>
            <p></p>
            <div id="grafica_co" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="co2">
        <h2>Dióxido de carbono</h2>

          {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_co2">Ver gráfica</button>
            <p></p>
            <div id="grafica_co2" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>

        <div id="ch4">
       <h2>Metano CH4</h2>
          {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_ch4">Ver gráfica</button>
            <p></p>
            <div id="grafica_ch4" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="polvo">
          <h2>Polvo</h2>
          {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_polvo">Ver gráfica</button>
            <p></p>
            <div id="grafica_polvo" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="so2">
         <h2>Dióxido de azufre</h2>
          {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_so2">Ver gráfica</button>
            <p></p>
            <div id="grafica_so2" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="no2">
        <h2>Dióxido de Nitrógeno</h2>
          {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_no2">Ver gráfica</button>
            <p></p>
            <div id="grafica_no2" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="o3">
       <h2>Ozono O3</h2>
          {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_o3">Ver gráfica</button>
            <p></p>
            <div id="grafica_o3" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="tvoc">
       <h2>Material orgánico volátil</h2>
          {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_tvoc">Ver gráfica</button>
            <p></p>
            <div id="grafica_tvoc" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="lpg">
               <h2>Gas licuado de petróleo LPG</h2>

        {% lorem 1 b random %}
            <button type="button" class="btn btn-outline-success" id="graficar_lpg">Ver gráfica</button>
            <p></p>
            <div id="grafica_lpg" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
    </div>
</div>

</div>
<script src="{% static 'praes/js/medicion_actual.js' %}"></script>
<script src="{% static 'praes/js/temperatura.js' %}"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% endblock  %}