.NAform{
    display: grid;
    grid-template: auto auto / 50% 50%;
}

.NMform{
    display: grid;
    grid-template: auto auto / 50% 50%;
}

.cwheatherValues{
    width: 150%;
    display: grid;
    grid-template: auto auto auto / 25% 25% 25%;
}


/* INICIO Estilos para SUBSISTEMA ESTACION AMBIENTA */

.bottomsubestation{
    display: grid;
    grid-template: auto auto / 50% 50%; 
}
.infosubestation{
    margin-left: 30px;
}
.estacionplot{
    display: grid;
    grid-template: auto auto auto / 13% 67% 20%;
}

.xbtn{
    margin-top: 20px;
    width: 100px;
}

.quickbuttons{
    margin-top: 50px;
}
.dateform{
    margin-top: 50px;
}
/* FIN Estilos para SUBSISTEMA ESTACION AMBIENTA */