<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KIT PRAES</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
<script src="{% static 'js/jquery-3.1.1.min.js'%}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script> {% endcomment %}

<body>

<div class="container">
   <ul class="nav ">
  <li class="nav-item">
    <a class="nav-link active" href="{% url 'main-index' %}"> <img src= "{% static 'centrotic.png' %}" alt="Imagen no encontrada" width=100px height=70px> </a>
  </li>
    <li class="nav-item">
        <a class="nav-link active" href="{% url 'main-index' %}"> <img src= "{% static 'praes/img/LogoIPREDUIS.png' %}" alt="Imagen no encontrada" width="250px" height="80px">
        <img src= "{% static 'praes/img/cics.png' %}" alt="Imagen no encontrada" width="250px" height="80px"></a>
  </li>
  
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Información semilleros</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'app_praes:semilleros' %}">Consultar semilleros</a>
    </div>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Monitoreo Ambiental</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="{% url 'app_praes:medicion-actual'%}">Información variables ambientales</a>
      <a class="dropdown-item" href="{% url 'app_praes:matematica-ambiental' %}">Matemática ambiental</a>
    </div>
  </li>

  {% if user.is_authenticated %}

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Registros</a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{% url 'app_praes:registro-semillero' %}">Registro semilleros</a>
        <a class="dropdown-item" href="{% url 'app_praes:registro' %}">Registro Lugar de medición</a>

      </div>
    </li>

    <li class="nav-item"> <a class="nav-link" href="{% url 'logout' %}">SALIR</a> </li>


    {% else %}
    <li class="nav-item"> <a class="nav-link" href="{% url 'login' %}"> INGRESAR</a></li>
    {% endif %}
 </ul>
</div>


    <div class="container">

<div class="row">
    <div class="col-sm-4">
        <div class="list-group">
            <img src="{% static "praes/img/entornos_saludables.JPG"%}" class="img-fluid" alt="Responsive image">
            <h4>Variables del clima</h4>
            <a href="{% url "app_praes:medicion-actual"%}"  class="list-group-item list-group-item-action">Temperatura</a>
            <a href="{% url "app_praes:medicion-humedad"%}" class="list-group-item list-group-item-action">Humedad Relativa</a>
            <a href="{% url "app_praes:medicion-presion"%}" class="list-group-item list-group-item-action">Presión atmosférica</a>
            <p></p>
            <h4>Calidad del Aire</h4>
            <a href="{% url "app_praes:medicion-compuestos-aire"%}" class="list-group-item list-group-item-action">Compuestos aire</a>
            <h4>Calidad del Agua</h4>
            <a href="{% url "app_praes:medicion-ph-agua"%}" class="list-group-item list-group-item-action">PH</a>
            <a href="{% url "app_praes:medicion-turbidez"%}"  class="list-group-item list-group-item-action">Turbidez</a>
            <a href="{% url "app_praes:medicion-temp-agua"%}" class="list-group-item list-group-item-action">Temperatura Agua</a>

            <h4> Consumo del agua </h4>
            <a href="{% url "app_praes:medicion-flujo"%}"  class="list-group-item list-group-item-action">Flujo del agua</a>
        </div>
    </div>

{% block body_block %}
   

{% endblock  %}
</div>
</body>
</html>