{% extends 'app_praes/base.html' %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="row">
        <div class="col">
        {% if kit %}
        <h3> KIT registrados y en operacion</h3>
        <br>
        <table class="table">
        <thead>
        <tr>
            <th scope="col">Nombre KIT </th>
            <th scope="col">Colegio</th>
            <th scope="col">Observaciones</th>
        </tr>
        </thead>
        <tbody>
        {% for k in kit %}
        <tr>
        <th scope="row"> {{k.nombre_kit}}</th>
        <td><a href="{% url 'app_praes:colegios' %}"> {{ k.colegio}}</a></td>
        <td>{{ k.observaciones }}</td>
        </tr>
        {% endfor %}
        
        </tbody>
        </table>    
        {% else %}
        <p>No existe ningún KIT registrado</p>
        {% endif %}
        </div>

        <div class="col">
        <img src ="{% static 'praes/img/PRAES1.jpg' %}" class="img-fluid" alt="Responsive image">
        <br>
        <br>
        <button type="button" class="btn btn-light"><a href="{% url 'app_praes:registro-kit' %}">Registro KITs </a></button>
        
        </div>
    </div>
</div>

{% endblock body_block %}