{% extends 'app_praes/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
    <h1> Matemática ambiental </h1>
    </div>
    <div class="row">
        <div class="col-sm">
        <p> Esta sección permite al niño investigador trabajar con datos reales
        tomados con el KIT educativo en las actividades </p>
        <img src="{% static 'praes/img/matematicas1.png' %}" alt="matematica" class="img-thumbnail">
        {% if ubicacion %}
        
        <h3> Calculos estadísticos para las muestras de {{tipo}} </h3>
        <table class="table">
            <thead>
                <tr>
                <th scope="col"># de muestras</th>
                <th scope="col">Media</th>
                <th scope="col">Desviación estándar</th>
                <th scope="col">Min</th>
                <th scope="col">25%</th>
                <th scope="col">50%</th>
                <th scope="col">75%</th>
                <th scope="col">Max</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">{{Nmuestras}}</th>
                <td>{{media|floatformat:2}}</td>
                <td>{{std|floatformat:2}}</td>
                <td>{{min|floatformat:2}}</td>
                <td>{{q1|floatformat:2}}</td>
                <td>{{q2|floatformat:2}}</td>
                <td>{{q3|floatformat:2}}</td>
                <td>{{max|floatformat:2}}</td>
                </tr>
            </tbody>
        </table>

        <h4> ¿Desea descargar los datos en un CSV? </h4>
        <form action="{% url 'app_praes:descargar' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="ubicacion" value={{ubicacion}}>
        <input type="hidden" name="kit_monitoreo" value={{kit_monitoreo}}>
        <input type="hidden" name="tipo" value={{tipo}}

        {% buttons %}
        <button type="submit" class="btn btn-outline-success">
        {% bootstrap_icon "star" %} Descargar datos
        </button>
        {% endbuttons %}

        </form>
        {% endif %}

        </div>

        <div class="col-sm">
        <h2> Consultar datos experimentos </h2>
         <form  action= "{% url 'app_praes:matematica-ambiental' %}" method="POST">
                {% csrf_token %}

                {% bootstrap_form form%}
                
                <h4> Seleccione la variable para analizar </h4>
                <h3> CLIMA </h3>
                <label>
                <input type="radio" name="variable" value="temperatura"> Temperatura ambiente
                <img class="img-responsive" src="{% static "praes/img/temperatura.svg" %}" height="100px" width="100px" alt="Chania"> 
                </label>
                <label>
                <input type="radio" name="variable" value="humedad"> Humedad
                <img class="img-responsive" src="{% static "praes/img/humedad.jpg" %}" height="100px" width="100px" alt="Chania"> 
                </label>
                <label>
                <input type="radio" name="variable" value="presion"> Presión
                <img class="img-responsive" src="{% static "praes/img/presion.png" %}" height="100px" width="100px" alt="Chania"> 
                </label> 
                <h3> Agua </h3>
                <label>
                <input type="radio" name="variable" value="temp_agua"> Temperatura agua 
                <img class="img-responsive" src="{% static "praes/img/temperatura_agua.jpg" %}" height="100px" width="100px" alt="Chania"> 
                </label>
                <label>
                <input type="radio" name="variable" value="turb_agua"> Turbidez agua
                <img class="img-responsive" src="{% static "praes/img/turbidez.jpg" %}" height="100px" width="100px" alt="Chania"> 
                </label>
                 <label>
                <input type="radio" name="variable" value="ph_agua"> PH del agua
                <img class="img-responsive" src="{% static "praes/img/ph-colores.jpg" %}" height="100px" width="100px" alt="Chania"> 
                </label>
                <label>
                <input type="radio" name="variable" value="flujo_agua"> Flujo de agua
                <img class="img-responsive" src="{% static "praes/img/water_wheel.svg" %}" height="100px" width="100px" alt="Chania"> 
                </label>
                <h3> Aire </h3>  
                <label>
                <input type="radio" name="variable" value="aire"> Compuestos del aire
                <img class="img-responsive" src="{% static "praes/img/gases.jpg" %}" height="100px" width="100px" alt="Chania"> 
                </label>

                {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Consultar datos
                </button>

                    {% endbuttons %}
            </form>
        </div>
    </div>
</div>
{% endblock  %}