{% extends "app_praes/base.html" %}
{% load static %}
{% block body_block %}

<div class="container">
<h1> Información Ambiental</h1> 

<div class="row">
    <div class=col>
        <div class="list-group">
            <h4>Variables del clima</h4>
            <a href="#temperatura" onclick="toggle_visibility('temperatura');" class="list-group-item list-group-item-action">Temperatura</a>
            <a href="#humedad" onclick="toggle_visibility('humedad');" class="list-group-item list-group-item-action">Humedad Relativa</a>
            <a href="#presion" onclick="toggle_visibility('presion');" class="list-group-item list-group-item-action">Presión atmosférica</a>
            <p></p>
            <h4>Calidad del Aire</h4>
            <a href="#gases" onclick="toggle_visibility('co2');" class="list-group-item list-group-item-action">Medición de compuestos</a>
            <h4>Calidad del Agua</h4>
            <a href="#ph-agua" onclick="toggle_visibility('lpg');" class="list-group-item list-group-item-action">PH</a>
            <a href="turbidez-agua" onclick="toggle_visibility('lpg');" class="list-group-item list-group-item-action">Turbidez</a>
            <a href="#temperatura-agua" onclick="toggle_visibility('lpg');" class="list-group-item list-group-item-action">Temperatura Agua</a>

            <h4> Consumo del agua </h4>
            <a href="#flujo-agua" onclick="toggle_visibility('lpg');" class="list-group-item list-group-item-action">Flujo del agua</a>

        </div>
    </div>
    <div class="col-sm-9">
    <h1> Variables del clima </h1>
        <div id="temperatura">
            <h2>Temperatura</h2> 
            <p>La enfermedad causada por la alteración de la temperatura corporal incluye cuadros leves (los calambres y el síncope por calor), junto con otros que pueden poner en serio peligro la vida del individuo (el golpe de calor, la hipertermia maligna, el síndrome neuroléptico maligno, etc.).</p>
            <p> Si hay altas temperaturas ambientales, las personas expuestas a ellas pueden experimentar una depleción de volumen, que se traduce clínicamente en el denominado agotamiento por calor. Su origen hay que buscarlo en una ingesta insuficiente de agua y electrolitos. Cuando el tratamiento no es correcto, cabe la posibilidad de que el síndrome progrese a golpe de calor.</p>
            <p></p>

        <button type="button" class="btn btn-outline-success" id="graficar_temp">Ver gráfica</button>

        <div id="grafica_temperatura" style="min-width: 300px; height: 320px; margin: 0 auto"></div>

        </div>
        <div id="humedad">
            <h2>Humedad</h2>
                <h4> ¿Qué es la humedad relativa? </h4>
                <p> El aire atmosférico está compuesto de aire seco y vapor de agua. La cantidad de vapor de agua contenido en el aire depende de las condiciones de presión y temperatura; dependiendo de esas condiciones, el aire puede incorporar vapor de agua o desprenderlo a través de la condensación </p>
                <p> Una baja humedad relativa aumenta la evaporación desde las membranas de la nariz y garganta, secando las mucuosas del sistema respiratorio, además de resecar la piel y el cabello.</p>
                <p> Los excesos de humedad limita los procesos de evaporación a través de la piel, condicionando la pérdida de calor, la sensación de calor debido a la capacidad del cuerpo para transpirar.</p>
                    <button type="button" class="btn btn-outline-success" id="graficar_hum">Ver gráfica</button>
            <p></p>

        <div id="grafica_humedad" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>
        <div id="presion">
            <h2>Presión atmosférica</h2>
            <p> La presión atmosférica es el peso de la columna de aire que hay sobre cualquier punto o lugar de la tierra y es por tanto el peso por unidad de superficie.

            Presión atmosféricaCuanto mayor es la altura, menor es la presión atmosférica y cuanto menor es la altura y más se acerque a nivel del mar, mayor será la presión. </p>
            <button type="button" class="btn btn-outline-success" id="graficar_pres">Ver gráfica</button>
            <p></p>
            <div id="grafica_presion" style="min-width: 300px; height: 320px; margin: 0 auto"></div> 
        </div>


        
        <div id="gases">
        <h1> Medición de compuestos del aire </h1>
        <h2>Dióxido de carbono</h2>

        <p> El dióxido de Carbono (CO2) está presente naturalmente en la atmósfera a niveles de aproximadamente 0.035%. La exposición a corto plazo de CO2 a niveles por debajo del 2% (20,000 partes por millón o ppm) no ha reportado provocar efectos nocivos. Concentraciones más altas pueden afectar la función respiratoria y provocar excitación seguida por depresión del sistema nervioso central. Altas concentraciones de CO2 pueden desplazar oxígeno en el aire, resultando en concentraciones de oxígeno menores para la respiración. Por lo tanto, los efectos de la deficiencia de oxígeno pueden combinarse con efectos de toxicicidad de CO2  </p>
        
        <h2>Metano CH4</h2>
        <p> El metano es uno de los principales gases del efecto invernadero, su efecto negativo sobre el calentamiento del planeta es 21 veces mayor que el del dióxido de carbono.
        El metano se produce por fuentes naturales, por ejemplo, los depósitos orgánicos del fondo oceánico o las turberas congeladas de Liberia y por grandes industrias durante la fabricación de sus productos, o como resultado de su propia actividad como por ejemplo la agricultura, la minería de carbón, la producción de gas natural y los vertederos municipales.
        La producción, procesamiento transmisión y distribución del metano a nivel mundial libera hasta 88.000 millones de metros cúbicos de dicho gas. Las empresas deben tomar conciencia y mejorar los métodos de producción para reducir las emisiones de gas metano a la atmósfera.</p>
        
        <p></p>

         <h2>Material orgánico volátil</h2>

           <table class="table">
            <thead>
                <tr>
                <th scope="col">Efectos en la salud</th>
                <th scope="col">Efectos en el entorno</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <td>Algunos son contaminantes tóxicos del aire que causan cáncer y / u otros problemas de salud graves. Contribuye a la formación de ozono con efectos en la salud asociados.</td>
                <td>Contribuye a la formación de ozono con efectos ambientales y climáticos asociados. Además, contribuye a la formación de CO2 y aerosoles orgánicos secundarios que pueden calentar y enfriar la atmósfera, respectivamente.</td>
                </tr>

            </tbody>
            </table> 

             <h2>Gas Licuado del petróleo</h2>

            <p> El GLP es incoloro y casi inodoro, lo que lo hace indetectable a los órganos de los sentidos humanos. Así que la emanación de GLP puede ser detectada, si es olorizado, es decir, una pequeña cantidad de un agente olorizador se añade al GLP.GLP no es tóxico, pero en altas concentraciones puede causar asfixia ya que desplaza el aire.En casos extremos, puede actuar como un anestésico </p>
            <button type="button" class="btn btn-outline-success" id="graficar_lpg">Ver gráfica</button>
            <div id="grafica_co2" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>


        <h1> Variables del agua </h1>
        <div id="temperatura-agua">
               <h2>Temperatura del Agua</h2>

                <p> El GLP es incoloro y casi inodoro, lo que lo hace indetectable a los órganos de los sentidos humanos. Así que la emanación de GLP puede ser detectada, si es olorizado, es decir, una pequeña cantidad de un agente olorizador se añade al GLP.GLP no es tóxico, pero en altas concentraciones puede causar asfixia ya que desplaza el aire.En casos extremos, puede actuar como un anestésico </p>
            <button type="button" class="btn btn-outline-success" id="graficar_lpg">Ver gráfica</button>
            <p></p>
            <div id="grafica_lpg" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>

        <div id="ph-agua">
            <h2>PH del Agua</h2>
                <p> El GLP es incoloro y casi inodoro, lo que lo hace indetectable a los órganos de los sentidos humanos. Así que la emanación de GLP puede ser detectada, si es olorizado, es decir, una pequeña cantidad de un agente olorizador se añade al GLP.GLP no es tóxico, pero en altas concentraciones puede causar asfixia ya que desplaza el aire.En casos extremos, puede actuar como un anestésico </p>
            <button type="button" class="btn btn-outline-success" id="graficar_lpg">Ver gráfica</button>
            <p></p>
            <div id="grafica_lpg" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>

        <div id="turbidez-agua">
               <h2>Turbidez del agua</h2>
                <p> El GLP es incoloro y casi inodoro, lo que lo hace indetectable a los órganos de los sentidos humanos. Así que la emanación de GLP puede ser detectada, si es olorizado, es decir, una pequeña cantidad de un agente olorizador se añade al GLP.GLP no es tóxico, pero en altas concentraciones puede causar asfixia ya que desplaza el aire.En casos extremos, puede actuar como un anestésico </p>
            <button type="button" class="btn btn-outline-success" id="graficar_lpg">Ver gráfica</button>
            <p></p>
            <div id="grafica_lpg" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>

        <div id="flujo-agua">
               <h2>Flujo del Agua</h2>
                <p> El GLP es incoloro y casi inodoro, lo que lo hace indetectable a los órganos de los sentidos humanos. Así que la emanación de GLP puede ser detectada, si es olorizado, es decir, una pequeña cantidad de un agente olorizador se añade al GLP.GLP no es tóxico, pero en altas concentraciones puede causar asfixia ya que desplaza el aire.En casos extremos, puede actuar como un anestésico </p>
            <button type="button" class="btn btn-outline-success" id="graficar_lpg">Ver gráfica</button>
            <p></p>
            <div id="grafica_lpg" style="min-width: 300px; height: 320px; margin: 0 auto"></div>
        </div>


    </div>
</div>

</div>
<script src= "{% static 'praes/js/monitoreo_lecturas.js' %}" ></script>
<script src="{% static 'praes/js/temperatura.js' %}"></script>

<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% endblock  %}