{% extends "app_praes/base1.html" %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
    <div class="col">
        <h1> Variables del clima </h1>
            <div id="presion">
            <h2>Presión atmosférica</h2>
            <img class="img-responsive" src="{% static "praes/img/presion.png" %}" height="200px" width="200px" alt="Chania"> 

            <p> La presión atmosférica es el peso de la columna de aire que hay sobre cualquier punto o lugar de la tierra y es por tanto el peso por unidad de superficie.

            Presión atmosféricaCuanto mayor es la altura, menor es la presión atmosférica y cuanto menor es la altura y más se acerque a nivel del mar, mayor será la presión. </p>
            <button type="button" class="btn btn-outline-success" id="graficar_pres">Ver gráfica</button>
            <p></p>
            <h3>Seleccionar KIT y lugar de medición:</h3>
            </div>

        <form  action= "{% url 'app_praes:medicion-presion' %}" method="POST">
                {% csrf_token %}

                    {% bootstrap_form sensores%}
                            
                    {% buttons %}
                    <button type="submit" class="btn btn-primary">
                    {% bootstrap_icon "star" %} Realizar toma de datos
                    </button>

                    {% endbuttons %}
            </form>
        </div>
    </div>
    <div id="grafica_presion" style="min-width: 300px; height: 400px; margin: 0 auto"></div>
       

<script src= "{% static 'praes/js/grafica_presion.js' %}" ></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="https://code.highcharts.com/modules/export-data.js"></script>

{% endblock  %}