{% extends 'app_praes/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h2> Registrar lugar de medición </h2>
    </div>

    <div class="row">
        <div class="col">
            <form  action= "{% url 'app_praes:registro-ubicacion' %}" method="POST">
                {% csrf_token %}
                {% bootstrap_form ubicacion%}                          
                {% buttons %}
                <button type="submit" class="btn btn-primary">
                {% bootstrap_icon "star" %} Registrar lugar
                </button>
                {% endbuttons %}
            </form>
        </div>

        <div class="col">
        <h4> Ejemplos de lugares para ubicar el KIT </h4>
        <p> Campo abierto sin arboles ni edificios </p>
        <img src="{% static "praes/img/campoabierto.JPG"%}" alt="campo abierto" class="img-thumbnail">
        </br>
        </br>
        <p> En un parque </p>
        <img src="{% static "praes/img/parque.JPG"%}" alt="parque" class="img-thumbnail">
        </div>

        <div class="col">
        <p> Debajo de un arbol o zona de bosque </p>
        <img src="{% static "praes/img/arbol.JPG"%}" alt="arbol" class="img-thumbnail">
        </br>
        </br>
        <p> Dentro del aula de clases </p>
        <img src="{% static "praes/img/salon.jpg"%}" alt="salon" class="img-thumbnail">
        </div>

    </div>

</div>
{% endblock  %}