{% extends "nariz_electronica/base.html" %}
{% load static %}
{% block body_block %}
<div class="container">
    <div class="jumbotron">
        <h1>Nariz Electronica</h1>
      </div>

<div class="row">

<p>  La nariz electrónica es un dispositivo compuesto de sensores de gas sensibles a ciertos compuestos específicos según su configuración acoplado a un sistema de reconocimiento de patrones como método para procesar los datos resultantes de algún experimento.
     El proceso químico inicia cuando la muestra odorífica es acondicionada para permitir su paso hacia una matriz de sensores de gas, que al ser resistivos el conjunto de electrodos del cual están compuestos cambian de tamaño alterando su impedancia. Este suceso origina señales que pasan por la etapa de acondicionamiento y procesamiento de selección de datos implementado en una etapa electrónica que entrega la huella digital del compuesto a la fase de reconocimiento de patrones que permite detectar, clasificar e identificar la muestra.
     nariz electrónica.</p>

    <div class="col-sm">
    <h3>  
    <a class="nav-link active" href="{% url 'nariz_electronica:toma-datos'%}">Nariz electrónica Version 1</a>
  </h3>
    <p> Actualmente en la Universidad Industrial de Santander (UIS) existe una nariz electrónica basada en resultados de investigaciones previas. Esta nariz consiste en una caja de acrílico en donde se almacena una matriz de sensores de gases químicos, otro compartimiento donde es acumulado el volátil que se desea identificar y por último la etapa de adquisición y control del sistema (Ruiz Jiménez y cols, 2015) </p>
  <img class="img-thumbnail" src="{% static 'nariz_electronica.jpeg' %}" alt="imagen no encontrada" height=200px widht=300px>
    <img class="img-thumbnail" src="{% static 'nariz_electronica1.jpeg' %}" alt="imagen no encontrada" height=200px widht=300px>
    </div>

    <div class="col-sm">
       <h3><a class="nav-link active" href="{% url 'nariz_electronicaV2:index'%}">Nariz electrónica Versión 2</a></h3>
      <p> La Universidad Industrial de Santander junto con la Universidad Manuela Beltran crearon una Nariz electrónica donde se añaden mejoras de 
      conectividad.
        <img class="img-thumbnail" src="{% static 'nariz_electronicaV2/NarizV2.jpeg' %}" alt="imagen no encontrada" height=200px widht=300px>

    </div>



</div>
</div>
{% endblock  %}