body {
  /*font-family: 'Darker Grotesque', sans-serif;*/
  /*font-family: 'Oxygen', sans-serif;*/
  font-family: 'Poppins', sans-serif;
  background-image: url(/static/piscicultura/img/bg-1.jpg);
  background-size: cover;
}

.title{
  margin-top: 10px;
  color: #ffffff;
  font-weight: bold;
  text-align: center;


}



#tab-container {
  margin-top: 20px; /*sube y baja el contenedor de todo*/
  margin-left: auto;
  margin-right: auto;
  /*margin-left: 5px;*/
  width: 93%;  /* Ancho del contenedor */
  /*background: #5f663d; /*color morado*/
  /*background-color: transparent;*/
/*box-sizing: border-box;
-moz-box-sizing: border-box*/
}

/* Style the tab */
.tab {
  overflow: hidden;
  /*border: 1px solid #ccc;*/
  /*background-color: #f1f1f1;*/
}

/* Style the buttons inside the tab */
.tab button {
  line-height: 5px; /* margen del texto desde arriba*/
  height: 32px; /*largo de las pestañas en blanco*/
  margin-right: 3px; /*espacio entre las pestañas*/
  border-radius: 5px 5px 0 0;
  color: #888;  /* Color del texto de las pestañas, gris oscuro */
  background: #381356;  /* Fondo de las pestañas color gris */
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 12px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background: #6a4489;  /* Fondo de las pestañas al pasar el cursor por encima, gris claro */
  color: #c6a6e0;  /* Color del texto de las pestañas al pasar el cursor por encima */
}

/* Create an active/current tablink class */
.tab button.active {
  background: #e8e3e3; /*gris oscuro, fondo de las pestañas al presionar, nblaco gris */
  color: #66229e; /* Color del texto de las pestañas al presionar moradito*/
}

/* Style the tab content */
.tabcontent {
  display: none;
  border-radius: 0 5px 5px 5px;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: #e8e3e3; /*gris oscuro*/
}

@media screen and (max-width: 2000px) {

  .grid-container{
    margin-right: auto;
    margin-left: auto;
    width: 96%;
    display: grid;
    
    grid-template-rows: [linea-uno] auto [linea-dos] auto [linea-fin]; 
    grid-template-columns: [col-uno] 38% [col-dos] 59% [col-fin];
    
    /*grid-template-rows: auto auto; 
    grid-template-columns: 38% 60%;
    grid-template-areas: "water_data sidebar_right"
                         "box_data sidebar_right";*/

   
    /*grid-template-columns: 39% 20% 39%;*/
    grid-gap: 25px 25px; /*separación entre filas y columnas, (filas, columnas)*/
    background: #e8e3e3; /*gris oscuro*/
    overflow: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    /*
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 20px; /* qué hace?*/

  }

  .data-div1{
    grid-row: linea-uno / linea-dos;
    grid-column: col-uno / col-dos;
    /*grid-area: water_data;*/
  }

  .data-div2{
    grid-row: linea-dos / linea-fin;
    grid-column: col-uno / col-dos;
    /*grid-area: box_data;*/
  }

  .data-div3{
    grid-row: linea-uno / linea-fin;
    grid-column: col-dos / col-fin;
    /*grid-area: sidebar_right;*/
  }

  .variable-name th{
    color: #000000;
    font-size: 14px;
    font-weight: none;
    /*line-height: 20px;*/
    
  }

  .values td{
    color: #8c8a8a;
    font-size: 20px;
    margin-bottom: 50px;
  }

 
  
  .prom td{
    /*color: #8c8a8a;*/
    font-size: 15px;
    margin-bottom: 50px;
  }

  .icon_temp, .icon_od, .icon_voltage{
    width: 50px;
    height: 50px;
  }

  .icon_ph{
    width:  70px;
  }

  .icon_tempBox, .icon_hum{
    height: 50px;
  }

  /*h3{
    font-size: 16px;
  }*/
  .div-title{
    font-size: 16px;
    /*line-height: 55px;/*espacio con borde superior del div*/
   
  }

}
