body{
	max-width: 100%;
	
	background: #22282d;
	font-family: 'Ubuntu', sans-serif;

}

.text{
	border: solid 1px #2f4b63;
	font-weight: 200;
	text-align: center;
	display: inline-block;

}

.line{
	border-top: solid 1px #2f4b63;
	margin-top: 10px;
	min-width: 100%;
}
.title{
	display: grid;
	margin-top: 10px;
	color: #00b4ff;
	font-weight: bold;
	grid-template: auto auto auto / 40% 20% 40%;

}

.switchs-container{
	
    position: absolute;
    right: 10px;
    top: 4px;
	
}

.data-container{
	margin-top: 25px;
	max-width: 100%;
}

.data-container-top{
	display: grid;
	grid-template: auto auto auto / 39% 20% 39%;
	/*grid-template-columns: 39% 20% 39%;*/
	grid-gap: 20px 1%;
	
}

#myChart{
	position: relative;
    right: -3px;
}
.box{

	border: solid 1px #2f4b63;
}

.box h5{
	margin: 0;
	color: #00b4ff;
	background: #22282d;

}

#attitude{
	width: 100%;
	text-align: center;
}
.ptemp{
	width: 97.5%;

}

h5{
	position: relative;
	top: -14px;
	display: inline-block;
	left: 20px;
	padding: 5px;
	font-weight: 400;
	color: #00b4ff;
}



.bor{
	border-left: solid 1px #00b4ff;	
}

.telemetry-tables{
	overflow: auto;
	min-width: 100%;
}
.telemetry-tables::-webkit-scrollbar{

	height: 6px;

}
.telemetry-tables::-webkit-scrollbar-track{
	background: #56585a;
}

.telemetry-tables::-webkit-scrollbar-thumb{
	background: #528498;
} 


table{
	font-size: 12px;
	min-width: 100%;
}
.table-3{
	padding-left: 8px;
}

.table-3 tr{
	color: #cacaca;
	font-size: 15px;
	width: 200px;
	
}
.table-3 th{
	font-weight: 200;
}

.variable-table-1{
	margin: 0 0 5px 10px;
}
.variable-table-1 td{
	color: #cacaca;
}
.t-name{
	text-align: left;
	width: 150px;
}
.t-val{
	text-align: left;
}
.t-name th{
	color: #f15757;
	width: 100px;
}

.t-val th{
	color: #00ff5e;
	font-size: 17px;
	height: 25px;
}

.table-3 th{
	text-align: left;
	margin-top: 10px;
}

.table-3 td{
	text-align: center;
}
._angulos{
	text-align: center;
}
.videoframe{

}

.maps-container{
	padding: 0 1px 1px;
}
#map {
    height: 200px;
}


@media screen and (max-width: 1000px) {

	.data-container-top{
		display: grid;
		grid-template: auto auto / 50% 50%;
	}
}

@media screen and (max-width: 600px) {

	.data-container-top{
		display: grid;
		grid-template: auto / 98.8%;
		
	}

	.line{
		margin-top: 19px;
		
	}

	.text{
		border: solid 0px #2f4b63;
	}
	#map {
    	height: 250px;
	}

}


 