{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>MONITOR PISCICULTURA</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, height=device-height">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="theme-color" content="#22282d">
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

   <!-- <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,700" rel="stylesheet">-->

    <link rel="stylesheet" type="text/css" href="{% static 'piscicultura/css/monitoreo.css' %}">

</head>

<body>

	<div id="root-container">


		<div id="title" class="title">


			<h4> Monitor piscicultura</h4>
			<h4> Granja El Hangar, Guatiguará UIS </h4>
			
        </div>

        <div id="contenedor">
            <input id="tab-1" type="radio" name="radio-set" class="tab-selector-1" checked="checked" />
            <label for="tab-1" class="tab-label-1">ESTANQUE1</label>
           
            <input id="tab-2" type="radio" name="radio-set" class="tab-selector-2" />
            <label for="tab-2" class="tab-label-2">ESTANQUE2</label>
           
            <input id="tab-3" type="radio" name="radio-set" class="tab-selector-3" />
            <label for="tab-3" class="tab-label-3">Estanque3</label>
           
            <input id="tab-4" type="radio" name="radio-set" class="tab-selector-4" />
            <label for="tab-4" class="tab-label-4">Estanque4</label>
                                   
            <div class="content">
                <section class="content-1">
                	<div class="grid-container">
                		    <div class="water">
                				Espacio1
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>

                		    <div class="box">
                				Espacio2
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>

                		  	<div class="grafics">
                				Espacio3
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>

                		  	<div class="data-grafics">
                				Espacio4
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>
                	</div>

                	<!---------------------------------------->
                </section>

                <section class="content-2">

                	<div class="grid-container">
                		    <div class="water">
                				Espacio1
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>

                		    <div class="box">
                				Espacio2
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>

                		  	<div class="grafics">
                				Espacio3
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>

                		  	<div class="data-grafics">
                				Espacio4
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                				<br>
                		    </div>
                	</div>

                    
                </section>
                <section class="content-3">

                		Contenido3

                	<!--
                    Contenido3
                    <div class="water">
                		Contenido_seleccionado
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                    </div>

                    <div class="box">
                		Variables de la caja
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                    </div>

                  	<div class="grafics">
                		Contenido222222222222222222222222222222222222
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                		<br>
                    </div>
                    -->
                </section>
                <section class="content-4">
                	Contenido4

                </section>
            </div>
        </div>

	</div>

</body>

<!--<script src="{% static 'E3Tratos/assets/js/jslib/three.js' %}"></script>-->
<!--
<script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/103/three.js"></script>
<script src="{% static 'piscicultura/assets/js/jslib/DDSLoader.js' %}"></script>
<script src="{% static 'piscicultura/assets/js/jslib/MTLLoader.js' %}"></script>
<script src="{% static 'piscicultura/assets/js/jslib/OBJLoader.js' %}"></script>
<script src="{% static 'piscicultura/assets/js/switch_gui.js' %}"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCeAmVudOtIX9_du7kSu3kLY6z07IgeqpI&callback=initMap"> </script>


<script type="application/javascript" src="{% static 'piscicultura/assets/js/chartjs.js' %}"></script>
<script src="{% static 'piscicultura/assets/js/myget.js' %}"></script>

<script src="{% static 'piscicultura/assets/js/apimaps.js' %}"></script>


<script src="{% static 'piscicultura/assets/js/myrender.js' %}"></script>


<script src="{% static 'piscicultura/assets/js/chart.js' %}"></script>

-->

</html>