{% extends 'piscicultura/base.html' %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}
<div class="container">
    <div class="row">
        <div class="col-sm">
            <h1> Toma de datos </h1>
            <h5> Controle el almacenamiento de la información en la base de datos. Si tiene desactivada esta opción, no podrá observar en el monitor las variables en tiempo real.</h5>

            <ul class="list-unstyled">
            <li > <button type="button" class="btn btn-primary" id="activar">ACTIVAR</button></li>
            <br>
            <li > <button type="button" class="btn btn-info" id="desactivar">DESACTIVAR</button></li>
            <br>
            <li > <h4 id="estado">E</h4></li>
            <br>
        </ul>
            

        </div>


    </div>
</div>
<script src= "{% static 'piscicultura/js/read_estado.js' %}" ></script>
<script src="{% static 'js/jquery-3.4.1.min.js'%}"></script>
<script src= "{% static 'piscicultura/js/toma_datos.js' %}" ></script>
{% endblock  %}