{% extends "paws/base.html" %}
{% load static %}

{% block body_block %}

<div class="container">
    <div class="alert alert-success">
        <p>Dispositivos registrados con validación</p>
    </div>
    <img class="img-fluid" src="{% static 'TVSW.png' %}" alt="Imagen no encontrada">

    <table class="table">
            <thead>
              <tr>
                <th scope="col">Dispositivo</th>
                <th scope="col">Ubicación</th>
                <th scope="col">Validación</th>
                <th scope="col">Razón</th>
              </tr>
            </thead>
            <tbody>
            {% for dat in devices %}    
                 <tr>
                <th scope="row">{{dat.serial}}</th>
                <td>{{dat.geolocation.city}}</td>
                <td>{{dat.isValid}}</td>
                <td>{{dat.reason}}</td>
              </tr>
            
            {% endfor %}
         
              
            </tbody>
          </table>
</div>

{% endblock  %}