{% extends "paws/base.html" %}
{% load static %}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block body_block %}

<div class="container">
    <div class="jumbotron">
    <h1>Registro de dispositivos esclavos</h1>
    <a href="{% url 'paws:ayuda' %}"> Recomendaciones para el registro de esclavos </a>
    

    </div>
      <form  action= "{% url 'paws:register' %}" method="POST">
        
        <div class="row">
          <div  class="col-sm">
        
            <h3> Registrar coordenadas</h3>
            {% bootstrap_form point %}
            <h3> Registrar Ellipse </h3>
            {% bootstrap_form ellipse %}
            {% bootstrap_form geolocation %}

          </div>

          <div class="col-sm">  
            <h3> Parámetros de antena </h3>
            {% bootstrap_form antenna%}
            <h3> Rango de frecuencias del dispositivo </h3>
            {% bootstrap_form freq_range%}
            
          </div>

          <div class="col-sm">
            <h3> Descripción del dispositivo </h3>
            {% bootstrap_form device_descriptor%}
            
          </div>
          <div class="col-sm">
            <h3> Información del responsable </h3>
            {% bootstrap_form device_owner%}
            {% csrf_token %}
            
            
            {% buttons %}
              <button type="submit" class="btn btn-primary">
              {% bootstrap_icon "star" %} Registrar Dispositivo
              </button>
            {% endbuttons %}
          </div>
        </div>
      </form>
</div>

{% endblock  %}